In [5]:
# imports
import pandas as pd

In [6]:
# read data
df = pd.read_csv('../data/timelines.csv')

In [ ]:
df.head()

,tournament_id,match_id,event_type,period,result,team,seconds_from_period_start,start_time,end_time,start_position_x,...,speed,home_team,away_team,home_team_int,away_team_int,age,year,distance,duration,int_level
0,57,1257,Pass,1,Successful,Home,402.0,2022-11-22 11:37:28.980000+00:00,2022-11-22 11:37:30.040000+00:00,-29.97,...,11.036051,FC Espoo T2010,EPS T2010,0,0,T12,2022,11.698214,1.06,0
1,57,1257,Shot,1,Goal,Away,403.0,NaN,NaN,-25.07,...,NaN,FC Espoo T2010,EPS T2010,0,0,T12,2022,NaN,NaN,0
2,57,1257,Pass,1,Successful,Home,429.0,2022-11-22 11:37:55.900000+00:00,2022-11-22 11:37:57.460000+00:00,-0.43,...,5.814968,FC Espoo T2010,EPS T2010,0,0,T12,2022,9.071350,1.56,0
3,57,1257,Pass,1,Intercepted,Home,432.0,2022-11-22 11:37:59.200000+00:00,2022-11-22 11:38:00.700000+00:00,-8.51,...,10.673102,FC Espoo T2010,EPS T2010,0,0,T12,2022,16.009653,1.50,0
4,57,1257,BallContest,1,NaN,NaN,435.0,2022-11-22 11:38:02.640000+00:00,2022-11-22 11:38:04.120000+00:00,-3.28,...,NaN,FC Espoo T2010,EPS T2010,0,0,T12,2022,NaN,1.48,0

In [38]:
conditions = [
    (df["period"] == 1) & (df["seconds_from_period_start"] < 100),
    (df["period"] == 1) & (df["seconds_from_period_start"] > 1100),
    (df["period"] == 2) & (df["seconds_from_period_start"] < 100),
    (df["period"] == 2) & (df["seconds_from_period_start"] > 1100),
]

# Find IDs that satisfy each condition
satisfied_ids = [set(df.loc[cond, "match_id"]) for cond in conditions]

# Find IDs that satisfy ALL conditions across multiple rows
valid_ids = set.intersection(*satisfied_ids)

print(valid_ids)

{2256, 2305, 2228, 1324}

In [40]:
df[(df['match_id'] == 2305)]

,tournament_id,match_id,event_type,period,result,team,seconds_from_period_start,start_time,end_time,start_position_x,...,speed,home_team,away_team,home_team_int,away_team_int,age,year,distance,duration,int_level
72995,106,2305,Pass,1,Successful,Home,1.0,2023-12-14 09:02:20.720000+00:00,2023-12-14 09:02:23.480000+00:00,0.69,...,10.634769,Nordsjaelland T2009,Kaapo T2009,1,0,T14,2023,29.351963,2.76,1
72996,106,2305,Pass,1,Successful,Away,7.0,2023-12-14 09:02:26.640000+00:00,2023-12-14 09:02:28.300000+00:00,20.68,...,15.251814,Nordsjaelland T2009,Kaapo T2009,1,0,T14,2023,25.318011,1.66,1
72997,106,2305,BallContest,1,NaN,NaN,11.0,2023-12-14 09:02:30.840000+00:00,2023-12-14 09:02:32.200000+00:00,33.69,...,NaN,Nordsjaelland T2009,Kaapo T2009,1,0,T14,2023,NaN,1.36,1
72998,106,2305,Pass,1,Successful,Away,23.0,2023-12-14 09:02:42.720000+00:00,2023-12-14 09:02:44.520000+00:00,35.28,...,8.647079,Nordsjaelland T2009,Kaapo T2009,1,0,T14,2023,15.564742,1.80,1
72999,106,2305,Pass,1,Successful,Away,26.0,2023-12-14 09:02:46.160000+00:00,2023-12-14 09:02:47.540000+00:00,43.23,...,9.147976,Nordsjaelland T2009,Kaapo T2009,1,0,T14,2023,12.624207,1.38,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73242,106,2305,Pass,2,Intercepted,Home,1244.0,2023-12-14 09:48:51.200000+00:00,2023-12-14 09:48:53.100000+00:00,18.95,...,11.830817,Nordsjaelland T2009,Kaapo T2009,1,0,T14,2023,22.478552,1.90,1
73243,106,2305,Pass,2,Intercepted,Away,1246.0,2023-12-14 09:48:53.360000+00:00,2023-12-14 09:48:56.120000+00:00,29.94,...,4.747173,Nordsjaelland T2009,Kaapo T2009,1,0,T14,2023,13.102198,2.76,1
73244,106,2305,BallContest,2,NaN,NaN,1251.0,2023-12-14 09:48:58.220000+00:00,2023-12-14 09:48:58.940000+00:00,18.65,...,NaN,Nordsjaelland T2009,Kaapo T2009,1,0,T14,2023,NaN,0.72,1
73245,106,2305,Pass,2,Successful,Home,1253.0,2023-12-14 09:49:00.500000+00:00,2023-12-14 09:49:01.360000+00:00,14.98,...,6.251760,Nordsjaelland T2009,Kaapo T2009,1,0,T14,2023,5.376514,0.86,1
73246,106,2305,Pass,2,Successful,Home,1254.0,2023-12-14 09:49:01.640000+00:00,2023-12-14 09:49:03.580000+00:00,10.95,...,8.073439,Nordsjaelland T2009,Kaapo T2009,1,0,T14,2023,15.662471,1.94,1

In [30]:
df[(df['age'] == 'P14') & (df['period'] == 2)]

,tournament_id,match_id,event_type,period,result,team,seconds_from_period_start,start_time,end_time,start_position_x,...,speed,home_team,away_team,home_team_int,away_team_int,age,year,distance,duration,int_level
34579,62,1395,Pass,2,Successful,Home,NaN,2022-12-20 12:36:10.300000+00:00,2022-12-20 12:36:12.380000+00:00,-1.140,...,9.846671,EtelÃ¤ 6 P2008,Honka P2008,0,0,P14,2022,20.481077,2.08,0
34580,62,1395,Pass,2,Successful,Home,4.0,2022-12-20 12:36:14.140000+00:00,2022-12-20 12:36:16.120000+00:00,-21.030,...,9.808546,EtelÃ¤ 6 P2008,Honka P2008,0,0,P14,2022,19.420922,1.98,0
34581,62,1395,Pass,2,Successful,Home,7.0,2022-12-20 12:36:17.300000+00:00,2022-12-20 12:36:18.480000+00:00,-15.000,...,12.687762,EtelÃ¤ 6 P2008,Honka P2008,0,0,P14,2022,14.971560,1.18,0
34582,62,1395,BallContest,2,NaN,NaN,10.0,2022-12-20 12:36:20.160000+00:00,2022-12-20 12:36:20.840000+00:00,-1.000,...,NaN,EtelÃ¤ 6 P2008,Honka P2008,0,0,P14,2022,NaN,0.68,0
34583,62,1395,Pass,2,Successful,Away,11.0,2022-12-20 12:36:21.700000+00:00,2022-12-20 12:36:23.900000+00:00,-0.027,...,11.265449,EtelÃ¤ 6 P2008,Honka P2008,0,0,P14,2022,24.783987,2.20,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118905,156,3270,Pass,2,Successful,Home,188.0,2024-12-17 08:50:38.920000+00:00,2024-12-17 08:50:43.440000+00:00,-8.240,...,12.208748,Shamrock Rovers P2010,FC Midtjylland P2010,1,1,P14,2024,55.183543,4.52,2
118906,156,3270,BallContest,2,NaN,NaN,192.0,2024-12-17 08:50:42.820000+00:00,2024-12-17 08:50:44.760000+00:00,42.900,...,NaN,Shamrock Rovers P2010,FC Midtjylland P2010,1,1,P14,2024,NaN,1.94,2
118907,156,3270,Pass,2,Successful,Home,214.0,2024-12-17 08:51:05.200000+00:00,2024-12-17 08:51:08.920000+00:00,10.750,...,9.637761,Shamrock Rovers P2010,FC Midtjylland P2010,1,1,P14,2024,35.852471,3.72,2
119206,156,3269,Shot,2,Missed,Away,2.0,NaN,NaN,-1.320,...,NaN,FC Honka P2010,Hammarby IF P2010,0,1,P14,2024,NaN,NaN,1
119207,156,3269,Pass,2,Intercepted,Home,32.0,2024-12-17 07:32:24.660000+00:00,2024-12-17 07:32:27.420000+00:00,-43.420,...,7.650366,FC Honka P2010,Hammarby IF P2010,0,1,P14,2024,21.115011,2.76,1

In [25]:
df[(df['match_id'] == 3235)]

,tournament_id,match_id,event_type,period,result,team,seconds_from_period_start,start_time,end_time,start_position_x,...,speed,home_team,away_team,home_team_int,away_team_int,age,year,distance,duration,int_level
106637,155,3235,Pass,1,Successful,Home,3.0,2024-12-13 12:59:57.600000+00:00,2024-12-13 13:00:00.620000+00:00,-21.82,...,12.304505,EPS T2010,Hammarby IF T2010,0,1,T14,2024,37.159604,3.02,1
106638,155,3235,BallContest,1,NaN,NaN,6.0,2024-12-13 13:00:00.660000+00:00,2024-12-13 13:00:02.620000+00:00,-3.30,...,NaN,EPS T2010,Hammarby IF T2010,0,1,T14,2024,NaN,1.96,1
106639,155,3235,BallContest,1,NaN,NaN,13.0,2024-12-13 13:00:07.560000+00:00,2024-12-13 13:00:09.040000+00:00,-4.20,...,NaN,EPS T2010,Hammarby IF T2010,0,1,T14,2024,NaN,1.48,1
106640,155,3235,Pass,1,Successful,Away,15.0,2024-12-13 13:00:09.660000+00:00,2024-12-13 13:00:10.980000+00:00,0.37,...,7.099681,EPS T2010,Hammarby IF T2010,0,1,T14,2024,9.371579,1.32,1
106641,155,3235,BallContest,1,NaN,NaN,20.0,2024-12-13 13:00:14.580000+00:00,2024-12-13 13:00:14.840000+00:00,-6.26,...,NaN,EPS T2010,Hammarby IF T2010,0,1,T14,2024,NaN,0.26,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106932,155,3235,BallContest,1,NaN,NaN,1568.0,2024-12-13 13:26:02.700000+00:00,2024-12-13 13:26:03.700000+00:00,-19.73,...,NaN,EPS T2010,Hammarby IF T2010,0,1,T14,2024,NaN,1.00,1
106933,155,3235,BallContest,1,NaN,NaN,1644.0,2024-12-13 13:27:18.280000+00:00,2024-12-13 13:27:20+00:00,37.72,...,NaN,EPS T2010,Hammarby IF T2010,0,1,T14,2024,NaN,1.72,1
106934,155,3235,Pass,1,Intercepted,Home,1645.0,2024-12-13 13:27:19.920000+00:00,2024-12-13 13:27:20.900000+00:00,34.78,...,7.779961,EPS T2010,Hammarby IF T2010,0,1,T14,2024,7.624362,0.98,1
106935,155,3235,BallContest,1,NaN,NaN,1647.0,2024-12-13 13:27:21.120000+00:00,2024-12-13 13:27:22.200000+00:00,27.13,...,NaN,EPS T2010,Hammarby IF T2010,0,1,T14,2024,NaN,1.08,1
106936,155,3235,Pass,1,Successful,Away,1648.0,2024-12-13 13:27:22.100000+00:00,2024-12-13 13:27:22.820000+00:00,30.40,...,7.853009,EPS T2010,Hammarby IF T2010,0,1,T14,2024,5.654167,0.72,1